.gen-key {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

    min-height: 100%;
    height: auto;

    z-index: 500;

    background-color: rgba(0, 0, 0, .4);
}

.gen-key .gen-key-dialog {
    position: fixed;

    -webkit-box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    top: 50%;
    left: 50%;

    height: 60px;
    margin-top: -7px;

    width: 350px;
    margin-left: -175px;

    padding-top: 15px;
    padding-bottom: 15px;

    padding-left: 30px;
    padding-right: 30px;

    text-align: center;

    background-color: white;

    border: 1px solid #555;
}

a.otr-unlocked {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/unlock-alt.png);
}
a.otr-unlocked:hover {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/unlock-alt-hover.png);
}

a.otr-locked {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/lock.png);
}
a.otr-locked:hover {
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/lock-hover.png);
}

.otr-button {
    background-position: 6px 6px;
    background-size: 12px auto;
    background-repeat: no-repeat;
    width: 22px;
}

.safe-chat {
    position: absolute;
    top: 26px;
    left: 0;

    background-color: white;

    border-top: none;
    border-left: 1px solid rgb(166,168,171);
    border-right: 1px solid rgb(166,168,171);
    border-bottom: none;

    height: 100%;
    max-height: 259px;
    width: 258px;

    z-index: 100;
}

.safeEntry {
    background-color: #fffff0;
}
