body {
    margin: 0;
    overflow: hidden;

    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}

#messages {
    position: absolute;
    top: 0;
    bottom: 25px;

    width: 100%;

    background-color: rgb(237, 239, 244);

    overflow-y: auto;
}
.row {
    min-height: 33px;
}
.message {
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(bottom, #f2f2f2, #fff);

    border: 1px solid rgba(0, 0, 0, .18);
    border-bottom-color: rgba(0, 0, 0, .29);
    -webkit-border-radius: 4px;
    -webkit-box-shadow: 0 1px 0 #dce0e6;

    margin: 5px 5px 5px 0;
    padding: 4px 6px 3px 5px;
    float: left;

    color: #3e454c;
    line-height: 1.28;
    text-align: left;
    text-shadow: rgba(255, 255, 255, .5) 0 1px 0;
    white-space: pre-wrap;
}
.message.own {
    background-color: #dbedfe;
    background-image: -webkit-linear-gradient(bottom, #c7defe, #e7f1fe);

    float: right;
}

#entry {
    position: absolute;
    bottom: 0;

    border-top: 1px solid #c9d0da;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;

    width: 100%;
    height: 25px;

    padding-top: 5px;
    padding-left: 5px;

    outline: none;
    box-shadow: none;
    resize: none;
}
